<!doctype html>
{% extends "primeiro_projeto/layout.html" %}
{% block title %} Calculadora {% endblock %}

{%block jumbotron%}
    <h1 class="display-3">Calculadora</h1>
    <span class="m-2">Essa calculadora foi desenvolvido como atividade da disciplina de programação web 1</span>
{%endblock%}

{% block conteudo %}
    <div id="calculadora" class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">


                <div class="principal">
                    <div id="visor">
                        <h1>0</h1>
                    </div>

                    <div class="row">

                        <button class="btn btn-primary col m-1">%</button>
                        <button class="btn btn-primary col m-1">CE</button>
                        <button class="btn btn-primary col m-1">C</button>
                        <button class="btn btn-primary col m-1">&leftarrow;</button>

                    </div>

                    <div class="row">

                        <button class="btn btn-primary col m-1">7</button>
                        <button class="btn btn-primary col m-1">8</button>
                        <button class="btn btn-primary col m-1">9</button>
                        <button class="btn btn-primary col m-1">&div;</button>


                    </div>

                    <div class="row">

                        <button class="btn btn-primary col m-1">4</button>
                        <button class="btn btn-primary col m-1">5</button>
                        <button class="btn btn-primary col m-1">6</button>
                        <button class="btn btn-primary col m-1">&times;</button>

                    </div>

                    <div class="row">

                        <button class="btn btn-primary col m-1">3</button>
                        <button class="btn btn-primary col m-1">2</button>
                        <button class="btn btn-primary col m-1">1</button>
                        <button class="btn btn-primary col m-1">+</button>

                    </div>

                    <div class="row">

                        <button class="btn btn-primary col m-1">=</button>
                        <button class="btn btn-primary col m-1">0</button>
                        <button class="btn btn-primary col m-1">.</button>
                        <button class="btn btn-primary col m-1">-</button>

                    </div>

                </div>
            </div>
        </div>

    </div>
{%endblock%}