<!doctype html>
{% extends "primeiro_projeto/layout.html" %}
{% block title %} Bem vindos {% endblock %}

{%block jumbotron%}
    <h1 class="display-3">Hello world!!!</h1>
    <span class="m-2">{{ insert_me|cut:" "}}</span>
    <h4 class="m-2">Hoje é dia: {{ data_atual|date:"d/m/Y" }}</h4>
{%endblock%}


{%block conteudo%}
    <!-- FORM -->
    <div class="container">
        <form method="POST">
            {{ webpage_form.as_p }}
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>

    <div class="container-fluid">
        <h1 class="display-6 mx-3 mb-2 text-black text-opacity-25">Destaques</h1>
        <hr class="expand">
    </div>
{%endblock %}

